.blog-box {
    background-color: #defdde;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.blog-box:hover {
    transform: scale(1.05);
    font-weight: bold;
    background-color: rgba(128, 0, 128, 0.1);
}

.blog-title {
    font-size: 22px;
    color: purple;
    margin-bottom: 5px;
}

.blog-date {
    font-size: 14px;
}

.blog-summary {
    font-size: 16px;
    color: #333;
}
