/* Tool Box Styles */
.tool-box {
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tool-box:hover {
    transform: scale(1.05);
    font-weight: bold;
    background-color: rgba(128, 0, 128, 0.1);
}

.tool-box i {
    color: purple;
}

.tool-box h3 {
    font-size: 20px;
    color: purple;
    margin-top: 10px;
}
