body {
    background-color: #f7fff7;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: purple;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }

a {
    text-decoration: none;
    color: purple;
}
/* Navbar Styles */
.navbar {
    background-color: #ddffdd;
    border-bottom: 6px solid green;
    padding: 20px 0;
}

.navbar-brand {
    font-size: 32px;
    color: purple;
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 26px;
    color: purple;
    margin: 0 10px;
}

/* Main Styles */
.main-content {
    background-color: #f1fff1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.intro-section {
    border-radius: 10px;
}

.profile-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
}

.intro-text p {
    font-size: 18px;
    color: #333;
}

/* Footer Styles */
.footer {
    background-color: #ddffdd;
    border-top: 6px solid green;
}


/* Responsive Design */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .intro-section {
        text-align: center;
    }

    .intro-section .col-md-4 {
        order: 1;
    }

    .intro-section .col-md-8 {
        order: 2;
    }
}

/* Blog Card styling */
.card {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
    border-radius: 8px;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    color: purple;
    cursor: pointer;
}

.card-title:hover {
    text-decoration: underline;
}

.card-body {
    background-color: rgba(0, 255, 0, 0.1);
}

/* Margin adjustments */
.card  {
    margin-top: 20px;
}


/* Tag List styling */
#tag-list a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: purple;
    text-align: center;
    word-wrap: break-word;
    border-radius: 5px;
    border-color: purple;
}

#tag-list a:hover {
    background-color: purple;
    color: white;
}

#tag-list .btn {
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    text-overflow: clip;
}

#tag-dropdown {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 820px) {
    #tag-list {
        display: none;
    }

    #tag-dropdown {
        display: block;
        
    }

}

@media (min-width: 821px) {
    #tag-dropdown {
        display: none;
    }
}

