body {
    background-color: #f7fff7;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #fbfffb;
    border-bottom: 6px solid green;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-content .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .header-content h1 {
    font-family: 'Kalam', cursive;
    color: purple;
    font-size: 32px;
    margin: 0;
  }
  
  .header-content p {
    font-family: 'Kalam', cursive;
    color: black;
    font-size: 16px;
  }

.site-name {
    font-family: 'Kalam', cursive;
    color: purple;
    font-size: 32px;
    margin: 0;
    text-decoration: none;
}

.navbar {
    background-color: #ddffdd;
    border-bottom: 6px solid green;
    padding: 20px 0;
}

.navbar-brand {
    font-family: 'Kalam', cursive;
    color: purple;
    font-size: 32px;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-nav {
    font-size: 18px;
    color: purple;
    font-family: 'Kalam', cursive;
    gap: 15px;
}

.nav-item .nav-link {
    font-size: 18px;
    color: purple;
    font-family: 'Kalam', cursive;
}

.navbar-toggler {
    border: none;
    color: purple;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
.main-content {
    background-color: #f1fff1;
    margin-top: 50px;
    margin-bottom: 50px;
}



.footer {
    background-color: #ddffdd;
    padding: 20px;
    text-align: center;
    border-top: 6px solid green;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer-content a {
    color: purple;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

.footer-content p {
    margin: 0;
}
